@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.page-header {
    color: #000000;
    background: #FFFFFF;
}

.visually-hidden {
    visibility: hidden;
    position: absolute;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.hero {
    background-image: url("../images/index-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 51px 0 82px;
    display: flex;
    justify-content: center;
}

.hero-img {
    display: block;
}

.advantages-title {
    color: #000000;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

p {
    color: #333333;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

}

.advantages-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantages-item {
  max-height: 385px;
  padding: 103px 85px;
}

.advantages-item img {
    display: block;
    width: 100%;
}

.advantages-item_houses {
    grid-column-start: 2;
    grid-column-end: 4;

}

.advantages-item_bridge {
    grid-column-start: 1;
    grid-column-end: 3;
}

